body {
  min-width: 320px;
  background-color: $white;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
}

/*html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}*/

.container {
  padding-left: 9.4%;
  padding-right: 9.4%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    padding-left: 6.5%;
    padding-right: 6.5%;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 8%;
    padding-right: 8%;
    max-width: 1250px;
  }
}

a {
  text-decoration: none;
  color: $black;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
