body {
  min-width: 320px;
  background-color: $white;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
}

/*html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*/
.container {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
}

a {
  text-decoration: none;
}
