.about-us__title {
  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about-us__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.about-us__item {
  font-size: 17px;
  line-height: 20px;
  color: $black;
  list-style: none;
  width: 262px;
  padding-top: 85px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 297px;
    padding-top: 110px;
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 22px;
    width: 297px;
    padding-top: 110px;
    padding-right: 55px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    width: 1050px;
  }
}

@media (min-width: $tablet-width) {
  .eco {
    order: -1;
  }

  .ball {
    order: 1;
  }

  .price {
    order: 2;
  }

  .rocket {
    order: 3;
  }

  .like {
    order: 4;
  }

  .gift {
    order: 5;
  }
}

@media (min-width: $desktop-width) {
  .eco {
    order: -1;
  }

  .ball {
    order: 1;
  }

  .price {
    order: 2;
  }

  .rocket {
    order: 3;
  }

  .like {
    order: 4;
  }

  .gift {
    order: 5;
  }
}
