.about-us__title {
  font-size: 25px;
  line-height: 30px;
  color: $black;
}

.about-us__item {
  font-size: 17px;
  line-height: 20px;
  color: $black;
  list-style: none;
}

/*Для сетки*/
.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  margin: 30px;
}

.about-us__title {
  width: 200px;
}

@media (min-width: $tablet-width) {
  .about-us {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin: 50px;
  }

  .about-us__item {
    width: 305px;
  }

  .about-us__title {
    width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    margin: 175px;
  }

  .about-us__item {
    width: 310px;
  }

  .about-us__title {
    width: 410px;
  }
}
