.add-basket__title {
  font-size: 25px;
  line-height: 30px;
  color: $black;
}

.add-basket__sign {
  font-size: 15px;
  line-height: 30px;
  color: $grey;
}

.add-basket__sizes {
  font-size: 17px;
  line-height: 16px;
  color: $grey;
}
