.callback-form__group {
  font-size: 13px;
  line-height: 24px;
  color: $grey-color;
}

.form__legend {
  font-size: 17px;
  line-height: 16px;
  color: $lightgreen-color;
}

.data__label {
  font-size: 17px;
  line-height: 16px;
  color: $lightgreen-color;
}

.radio__sign,
.checkbox__input {
  font-size: 17px;
  line-height: 18px;
  color: $black-color;
}

.field__input {
  font-size: 17px;
  line-height: 18px;
  color: $black-color;
}

.form__sign {
  font-size: 14px;
  line-height: 16px;
  color: $grey-color;
}
