.checkbox__sign {
  font-size: 17px;
  line-height: 18px;
  color: $black;
  padding-left: 60px;
}

.checkbox {
  cursor: pointer;
}

.checkbox {
    display: inline-flex;
    width: 35px;
    height: 35px;
    border: 2px solid $black;
    margin-bottom: 20px;
}
