.contacts__title {
  font-size: 18px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__wrapper {
  @media (min-width: $tablet-width) {
    background-image: url("../img/icon-flag.svg");
    background-position: 650px 0;
    background-repeat: no-repeat;
    z-index: 4;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/icon-flag.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 4;
  }
}

.contacts__info {
  font-size: 15px;
  line-height: 30px;
  color: $gray;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.contacts-list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
}

.contacts-list__email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contacts-list__address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contacts-list__item {
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 222px;
  }

  @media (min-width: $desktop-width) {
    width: 222px;
  }
}
