.contacts__title {
  font-size: 18px;
  line-height: 30px;
  color: $black;
}

.contacts__info {
  font-size: 15px;
  line-height: 30px;
  color: $gray;
}

/*Для сетки*/
.contacts {
  width: 320px;
  margin: 30px;
}

.contacts-map {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 768px;
    margin: 50px;
  }

  .contacts__info {
    background-image: url("icon-flag.svg");
    background-position: right;
  }

  .contacts-map {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 1050px;
  }

  .contacts-list {
    width: 350px;
  }

  .contacts__info {
    width: 175px;
    background-image: url("icon-flag.svg");
    background-position: left;
  }

  .contacts-map {
    width: 525px;
  }
}
