.callback-form__group {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
.type__legend,
.color__legend,
.data__legend {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
}
.phone-data__label,
.email-data__label,
.wish-data__label {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
}
.radio__sign,
.checkbox__input {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}
.name-field__input,
.surname-field__input,
.patronymic-field__input {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}
.form__sign {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
