.form__description {
  font-size: 13px;
  line-height: 24px;
  color: $gray;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    width: 615px;
  }
}

.form__legend {
  font-size: 17px;
  line-height: 16px;
  color: $green-light;
}

.form__label {
  font-size: 17px;
  line-height: 16px;
  color: $green-light;
}

.form__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.radio__sign {
  width: 155px;
  padding-left: 25px;
}

.form {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 668px;
  }
}
