.form__description {
  font-size: 13px;
  line-height: 24px;
  color: $gray;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.form__legend {
  font-size: 17px;
  line-height: 16px;
  color: $green-light;
  padding-bottom: 25px;
}

.form__label {
  font-size: 17px;
  line-height: 16px;
  color: $green-light;
}

.form__item {
  display: flex;
  flex-direction: column;
  border: none;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.radio__sign {
  padding-left: 60px;

  @media (min-width: $tablet-width) {
    width: 254px;
  }
}

.form__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 175px;
    min-height: 207px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.form__button {
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  width: 260px;
  height: 50px;
  background-color: $white;
  border: 2px solid $black;

  @media (min-width: $tablet-width) {
    width: 230px;
    height: 50px;
    order: -1;
  }
}

.form--footer {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.form__sign {
  @media (min-width: $tablet-width) {
    order: 1;
    padding-left: 170px;
  }
}

.form__description {
  margin: 0;
  padding-top: 10px;
}
