.offers__title {
  font-size: 27px;
  line-height: 30px;
  color: #010000;
}

.offers__wrapper {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.offers-list__item {
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  list-style: none;
}

.offers-list--interior {
  background-color: $lightgreen-color;
}

.offers-list--toy {
  background-color: #56c3b2;
}
