.offers__title {
  font-size: 27px;
  line-height: 30px;
  color: $black;
  min-height: 283px;
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 526px;
    font-size: 43px;
    line-height: 50px;
    min-height: 472px;
  }

  @media (min-width: $desktop-width) {
    width: 648px;
    font-size: 53px;
    line-height: 57px;
    min-height: 472px;
  }
}

.offers__wrapper {
  max-width: 1050px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.offers-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    min-height: 120px;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.offers-list__sign {
  font-size: 19px;
  line-height: 24px;
  color: $white;
  width: 110px;
  padding-left: 9.4%;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 120px;
    min-height: 55px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    width: 120px;
    min-height: 55px;
    padding-left: 8%;
  }
}

.offers-list__item {
  display: flex;
  list-style: none;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.offers-list__item--interior {
  background-color: $green-light;
}

.offers-list__item--toy {
  background-color: $green-dark;
}

.offers-list__icon {
  padding-right: 9.4%;
  padding-top: 23px;
  padding-bottom: 18px;

  @media (min-width: $desktop-width) {
    padding-right: 34px;
    padding-top: 28px;
    padding-bottom: 18px;
  }
}
