.page-footer {
  background-color: $gray-light;

  @media (min-width: $tablet-width) {
    padding-top: 33px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.page-footer__social {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;

}
