$grey-color: #444444;

.add-basket__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
.add-basket__sign {
  font-size: 15px;
  line-height: 30px;
  color: $grey-color;
}
.size__item {
  font-size: 17px;
  line-height: 16px;
  color: $grey-color;
}
