.week-product__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 33px;
  padding-bottom: 40px;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    padding-top: 45px;
    min-height: 520px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 123px;
  }
}

.week-product__head {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.week-product__title {
  font-size: 25px;
  line-height: 30px;
  color: $black;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    width: 625px;
  }
}

.week-product__sign {
  font-size: 17px;
  line-height: 20px;
  color: $green-light;
  margin: 0;
  padding-top: 12px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 17px;
    width: 85px;
    padding-left: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 53px;
    padding-right: 45px;
    order: -1;
  }
}

.week-product__description {
  font-size: 15px;
  line-height: 24px;
  color: $gray;
  width: 250px;
  margin: 0;
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    width: 285px;
    padding-right: 50px;
    padding-top: 50px;
  }
}

.week-product__table {
  font-size: 15px;
  line-height: 20px;
  color: $gray;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    width: 295px;
    padding-top: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 38px;
  }
}


.week-product__price {
  font-size: 17px;
  line-height: 24px;
  color: $gray;
  margin: 0;
  padding: 30px 68px;

  @media (min-width: $tablet-width) {
    padding-left: 72px;
    padding-top: 65px;
    padding-bottom: 35px;
  }

    @media (min-width: $desktop-width) {
      padding-top: 120px;
    }
}

.week-product__img {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 360px;
    bottom: 115px;
  }

  @media (min-width: $desktop-width) {
    left: 545px;
    bottom: 115px;
  }
}

.week-product--info {
  @media (min-width: $desktop-width) {
    padding-left: 175px;
  }
}
